@font-face {
  font-family: varisity;
  src: url(good.otf);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Archivo Black', sans-serif; */
  font-family: "Playfair Display", serif;
  /* font-family: "Space Grotesk", sans-serif; */
  /* font-family: "Space Mono", monospace; */
  /* font-family: varisity; */
  
}